.simple-keyboard {
  max-width: 780px;
  font-family: inherit;
  position: fixed;
  bottom: 5px;
  left: 50%;
  margin-left: -390px;
}

.simple-keyboard.hg-theme-default.custom-theme {
  background-color: #1d2133;
  padding: 47px 26px 26px 28px;
}

.simple-keyboard.hg-theme-default.custom-theme .hg-button {
  background-color: #343848;
  border-bottom: unset;
  box-shadow: unset;
  color: white;
}
