<p>feature-a works!</p>

<div [formGroup]="myForm">
  <div class="row">
    <div class="col">
      <input #firstName formControlName="firstName" (focus)="handleControlFocus('firstName')">
    </div>
    <div class="col">
      <input #lastName formControlName="lastName" (focus)="handleControlFocus('lastName')">
    </div>
    <div class="col">
      <input #age formControlName="age" (focus)="handleControlFocus('age')">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-virtual-keyboard (keyPressedEvent)="handleKeyPress($event)"></app-virtual-keyboard>
    </div>
  </div>

</div>
