<p>feature-a works!</p>

<div class="row">
  <div class="col">
    <app-input [label]="'First Name'"></app-input>
  </div>
  <div class="col">
    <app-input [label]="'Last Name'"></app-input>
  </div>
  <div class="col">
    <app-input [label]="'Age'"></app-input>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-input [label]="'Address'"></app-input>
  </div>
  <div class="col">
    <app-input [label]="'Nationality'"></app-input>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-virtual-keyboard></app-virtual-keyboard>
  </div>
</div>
